
.container{
    background-image:  url('/images/natureza.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position-y: -6.25rem;
    background-attachment: fixed; 
}


@media  screen and (max-width: 1336px){
    .container{
        background-image:  url('/images/natureza.jpg');
        background-size: cover ;
        background-position-y: center;
    }
}